<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<link
			href="{% static 'icons/favicon.ico' %}"
			rel="icon"
			type="image/png"
		/>
		<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=yes"
		/>
		<meta
			name="description"
			content="This is a website where you can share books you have read with other people."
		/>
		<meta name="MobileOptimized" content="width" />
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
		<meta content="true" name="HandheldFriendly" />
		<link
			rel="stylesheet"
			href="https://bootswatch.com/4/darkly/bootstrap.min.css"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
			rel="stylesheet"
		/>
		<title>Book Database - {% block title %} {% endblock title %}</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-fixed-top">
				<div class="container">
					<a class="navbar-brand mr-4" href="/">Book Database</a>
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarNavAltMarkup"
						aria-controls="navbarNavAltMarkup"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div
						class="collapse navbar-collapse"
						id="navbarNavAltMarkup"
					>
						<div class="navbar-nav mr-auto">
							<a
								class="nav-item nav-link active"
								href="https://github.com/samarmohan/book-database"
                                target="_blank"
								>GitHub</a
							>
							<a class="nav-item nav-link active" href="/rules"
								>Rules</a
							>
							<a class="nav-item nav-link active" href="/license"
								>License</a
							>
						</div>
						<div class="navbar-nav">
							{% if user.is_authenticated %}
							<a class="nav-item nav-link active" href="/add-book"
								>Add Book</a
							>
							<a class="nav-item nav-link active" href="/logout"
								>Logout</a
							>
							{% else %}
							<a class="nav-item nav-link active" href="/login"
								>Login</a
							>
							<a class="nav-item nav-link active" href="/register"
								>Register</a
							>
							{% endif %}
						</div>
					</div>
				</div>
		</nav>
		<div class="container">
			<article>
				{% if messages %} {% for message in messages %}
				<div class="alert alert-success">{{ message }}</div>
				{% endfor %} {% endif %} {% block content %} {% endblock content %}
			</article>
		</div>
		<footer class="m-3 footer text-muted">
			<div class="container">
				<p>&copy; 2021 - Samar Mohan - Book Database v3.0.0</p>
			</div>
		</footer>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
			integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
			crossorigin="anonymous"
		></script>
	</body>
</html>
