{% extends "base.html" %} {% block content %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Title</title>
		<style>
		</style>
	</head>
	<body>
		<h1 class="detail-heading">Details of {{BR.Title}}</h1>
		<hr />
		<br />

		<h3>Description</h3>
		{% if BR.Description %}
		<p>{{ BR.Description }}</p>
		{% else %}
		<p>No description provided 😢</p>
		{% endif %}

		<h3>Rating</h3>
		<p>
			The rating of the book "{{BR.Title}}" is {{ BR.Rating }} out of 10!
		</p>
		<br />

		<a role="button" class="btn btn-warning" href="/">Go Home</a><br />
	</body>
</html>
{% endblock %}
