{% extends "base.html" %} {% load crispy_forms_filters %} {% load crispy_forms_tags %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Home{% endblock title %}</title>
	</head>
	<body>
		{% block content %}
		<header>
			<h1 class="main-heading">Book Database</h1>
			<hr />
			{% if user.is_authenticated %}
			<h5 class="welcome-message">
				Hello <em><strong>{{ user.username }}</strong></em
				><br />
				This is a website where you can share books you have read with
				other people!<br />
				<a  class="btn btn-link" href={% url "rules" %}>Rules</a>
				<a  class="btn btn-link" href={% url "license" %}
					>License</a
				>
			</h5>
		</header>
		<a class="create btn btn-primary btn-lg"  href={% url "create" %}
			>Create An Entry</a
		>
		<form method="get" action=".">
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Filter</legend>
				{{ filter.form|crispy }}
			</fieldset>
			<div class="form-buttons form-group">
				<input
					type="submit"
					id="filter"
					class="btn btn-warning"
					value="Filter"
				/>
				<a  class="btn btn-success" href={% url "home" %}
					>Reset Filters</a
				>
			</div>
		</form>
		<table class="table table-striped table-bordered table-hover">
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Rating</th>
				<th>Submitted by</th>
				<th>Page Count</th>
				<th>Actions</th>
			</tr>
			{% for book in filter.qs %}
			<tr>
				<th>{{ book.Title }}</th>
				<th>{{ book.Author }}</th>
				<th>{{ book.Rating }}</th>
				<th>{{ book.Name }}</th>
				<th>{{ book.PageCount }}</th>
				<th>
					<a
						class="btn btn-danger btn-sm"
                        href={% url "update" Title=book.Title %}
						>Update</a
					>

					<a
						class="btn btn-info btn-sm"
                        href={% url "detail" Title=book.Title %}
						>Details</a
					>
				</th>
			</tr>
			{% endfor %}
			<small class="text-muted"
				>Any accounts without a valid email and any entries without a
				valid name or email will be deleted</small
			>
		</table>
		{% else %}
		<header>
			<h3>
				Please <a href={% url "login" %}>log in</a> or
				<a href={% url "register" %}>register</a> to continue!
			</h3>
		</header>
		<article>
			<br />
			<h4>About</h4>
			<p>
				This is a website where you can share books you have read with
				other people.
			</p>
			<p>
				Check out the code for the site
				<a
					href="https://github.com/samarmohan/book-database"
					target="blank"
					>here</a
				>. You can also check out the <a href={% url "rules" %}>Rules</a> and
				<a href={% url "license" %}>License</a>
			</p>
		</article>
		{% endif %} {% endblock content %}
	</body>
</html>
