{% extends "base.html" %} {% load crispy_forms_filters %} {% load crispy_forms_tags %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Login{% endblock title %}</title>
	</head>
	<body>
		{% block content %}
		<form method="post">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Login</legend>
				{{ form|crispy }}
				<small class="text-muted">
					Forgot your password?
					<a class="ml-2" href={% url "password_reset" %}>Reset it</a>
				</small>
			</fieldset>
			<div class="form-group">
				<input
					class="btn btn-outline-info"
					type="submit"
					value="Login"
				/>
				<a  class="btn btn-warning" href={% url "home" %}>Go Home</a
				><br />
			</div>
		</form>
			<small class="text-muted">
				Don't have an account?
				<a class="ml-2" href={% url "register" %}>Register</a>
			</small>
		</div>
		{% endblock content %}
	</body>
</html>
