{% extends "base.html" %} {% load crispy_forms_filters %} {% load crispy_forms_tags %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Password Reset{% endblock title %}</title>
	</head>
	<body>
		{% block content %}
		<form method="post">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Password</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<input
					class="btn btn-outline-info"
					type="submit"
					value="Request Password Reset"
				/>
				<a  class="btn btn-warning" href={% url "home" %}>Cancel</a
				><br />
			</div>
		</form>
		{% endblock content %}
	</body>
</html>
