{% extends "books/base.html" %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Details{% endblock title %}</title>
		<style></style>
	</head>
	<body>
		{% block content %}
		<h1 class="detail-heading">Details of {{ book.Title }}</h1>
		<h3 class="detail-heading border-bottom mb-3">by {{ book.Author }}</h3>
		<hr />
		<br />

		<h3>Summary</h3>
		{% if book.Description %}
		<p>{{ book.Description }}</p>
		{% else %}
		<p>No summary provided 😢.</p>
		{% endif %}

		<h3>Pages</h3>
		{% if book.PageCount %}
		<p>This book has {{ book.PageCount }} pages.</p>
		{% else %}
		<p>No page count provided 😢.</p>
		{% endif %}

{#		<h3>Grade Level</h3>#}
{#		<p>#}
{#			The book is most appropriate for kids in grades {{ book.GradeLeve }}.#}
{#		</p>#}

		<h3>Rating</h3>
		<p>
			The rating of the book "{{ book.Title }}" is {{ book.Rating }} out
			of 10!
		</p>
		<br />

		<a class="btn btn-warning" href="{% url 'home' %}">Go Home</a><br />
		{% endblock content %}
	</body>
</html>
