$main-font: "Times New Roman, Times, serif";
$weight: bold;

* {
    font-family: $main-font;
}
.detail-heading {
	margin-top: 1rem;
}
.main-heading {
	text-align: center;
	margin: 1%;
}
.welcome-message {
	text-align: center;
	margin: 2%;
}
.reload-button {
	position: absolute;
	top: 90%;
	left: 45%;
}
h5 {
	font-weight: $weight;
}
table {
	font-weight: $weight;
}
.note {
	font-style: italic;
}
.btn {
	font-family: sans-serif;
}
.create {
	animation-name: slide;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 500ms;
	margin: 10px 0px;  
}
@keyframes slide {
	from {
		transform: translateX(0vw);
	}
	to {
		transform: translateX(61vw);
	}
}
@media only screen and (max-width: 775px) {
	.btn {
		margin-bottom: 2px;
	}
}
